<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	resultMap에서 TB_STUDENT, TB_DEPARTMENT
	id, result - 앞에서 배운 건 여기까지였다면
	<association property="department" resultMap="departmentMap"/>
	
	showStudent
 -->
 
<mapper namespace="studentMapper">
  
    <resultMap id="studentMap" type="model.vo.StudentVO">
        <id property="STUDENT_NO" column="STUDENT_NO"/>
        <result property="DEPARTMENT_NO" column="DEPARTMENT_NO"/>
        <result property="STUDENT_NAME" column="STUDENT_NAME"/>
        <result property="STUDENT_ADDRESS" column="STUDENT_ADDRESS"/>
        <association property="department" resultMap="departmentMap"/>
    </resultMap>
    
    <resultMap id="departmentMap" type="model.vo.DepartmentVO">
        <id property="DEPARTMENT_NO" column="DEPARTMENT_NO"/>
        <result property="DEPARTMENT_NAME" column="DEPARTMENT_NAME"/>
        <result property="CATEGORY" column="CATEGORY"/>
    </resultMap>


    <select id="searchStudents" parameterType="String" resultMap="studentMap">
        SELECT
            s.STUDENT_NO,
            s.DEPARTMENT_NO,
            s.STUDENT_NAME,
            s.STUDENT_ADDRESS,
            d.DEPARTMENT_NO AS d_DEPARTMENT_NO,
            d.DEPARTMENT_NAME,
            d.CATEGORY
        FROM
            TB_STUDENT s
        JOIN
            TB_DEPARTMENT d ON s.DEPARTMENT_NO = d.DEPARTMENT_NO
        WHERE
            s.STUDENT_NAME LIKE '%' || #{word} || '%' OR
            s.STUDENT_ADDRESS LIKE '%' || #{word} || '%' OR
            d.DEPARTMENT_NAME LIKE '%' || #{word} || '%' OR
            d.CATEGORY LIKE '%'|| #{word} || '%'
    </select>
</mapper>

